/*------------------------------------------------------------------------------
| Global
------------------------------------------------------------------------------*/
body,html {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/*------------------------------------------------------------------------------
| Mixin
------------------------------------------------------------------------------*/
@mixin opos($main) {

  #{$main} {
    height: 100%;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    padding-right: 17px;
  }

}

.none-scrollbar {
  margin-right: -17px;
}

/*------------------------------------------------------------------------------
| Dots Template
------------------------------------------------------------------------------*/
$dot_size: 10px;
$dot_margin: 12px;
$dot_color: black;

.opos-controls {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 600;
  pointer-events: none;
}

.opos-dotsnav {
  position: absolute;
  top: 50%;
  right: 10px;
  @include transform(translateY(-50%));
  z-index: 1;
  width: $dot_size*2;
}

.opos-dot {
  width: $dot_size;
  height: $dot_size;
  margin: $dot_margin auto;
  @include border-radius(100%);
  background: lighten($dot_color, 40%);
  position: relative;
  z-index: 1;
  pointer-events: auto;
  @include transition(all 0.3s ease);
  @include transform(scale(0.4));
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    @include transform(scale(3.5));
    pointer-events: auto;
    @include transition(all 0.3s ease);
  }
  &.current-dot, &:hover {
    background: lighten($dot_color, 0%);
    @include transform(scale(1));
    &:before {
      @include transform(scale(1));
    }
  }
}

/*------------------------------------------------------------------------------
| Nav Template
------------------------------------------------------------------------------*/
.opos-nav {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  background: rgba(gray,0.3);
  font-size: 0;
  text-align: center;
  li {
    display: inline-block;
    &.active {
      a {
        color: black;
      }
    }
  }
  a {
    display: block;
    color: white;
    font-family: 'Tahoma', arial, sans-serif;
    padding: 8px 10px;
  }
  span {
    font-size: 16px;
  }
}
