//----------------------------------
// Includes
//----------------------------------
@import 'sass_partials/mixins';
@import 'sass_partials/reset';

/*------------------------------------------------------------------------------
| Set in mixin One page One Scroll
- html,body by default overflow hidden width 100% height 100%
- Define a element wrap all the document ".main"
------------------------------------------------------------------------------*/
@import 'sass_partials/opos';
@include opos('.main');
/*----------------------------------------------------------------------------*/


.main-inner {
  margin-right: -17px;
}

.page-01 {
  background: rgba(black, 0.3);
}
.page-02 {
  background: rgba(gray, 0.3);
}
.page-03 {
  background: rgba(green, 0.3);
}
.page-04 {
  background: rgba(purple, 0.3);
}

p {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Tahoma', sans-serif;
  color: rgba(black, 0.98);
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0px;
  }
}

h1 {
  font-size: 20px;
  line-height: 1em;
  font-family: 'Tahoma', sans-serif;;
  color: rgba(black, 1);
}

.content-page {
  max-width: 960px;
  margin: 0px auto;
  padding: 60px 0px;
}
